* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --color-primary: white;
  --color-secondary: rgba(0, 0, 0, 0.89);
  --color-tertiary: white;
  --color-font: rgb(237, 227, 227);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  padding: 1rem;
  background-color: black;
}

#tv-main-info {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

#tv-likes {
  display: flex;
  align-items: center;
}

.tv-section {
  padding: 5px;
  box-shadow: #fff 0 0 10px;
}

#tv-other-info {
  color: white;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 0.5em;
  flex-direction: column;
  background-color: rgb(26, 16, 4, 0.4);
  padding: 0.5rem;
}

.tv-div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
  margin-block-start: 2%;
}

#section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-wrap: break-word;
  justify-items: center;
  justify-content: center;
}

.button {
  background-color: rgb(130, 99, 156);
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  width: 100%;
  height: max-content;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  transform: scale(1.05) rotate(-1deg);
  background-color: #fff;
  color: #9c8263;
}


